<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/business.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- zk -->
    <div class="form-group">
        <div class="input-group col-xs-12">
            <input type="text" class="form-control" id="zkInfo" placeholder="请输入zk地址" value="121.4.154.35:2181">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" id="zkAddress">配置</button>
            </span>
        </div>
    </div>
    <!-- select -->
    <div class="form-group">
    　　<div class="input-group col-xs-12">
    　      <select class="form-control" id="interfaceName" name="interfaceName" title="请选择调用的接口" data-live-search="true">
                <option disabled selected hidden>请选择调用的接口</option>
            </select>
    　　</div>
        <br/>
        <div class="input-group col-xs-12">
            <select class="form-control" id="methodName" name="methodName" title="请选择调用的方法" data-live-search="true">
                <option disabled selected hidden>请选择调用的方法</option>
            </select>
        </div>
    </div>
    <!-- params -->
    <div class="attachment">
        <h4>上下文参数配置</h4>
        <div class="input-dyna-add" id="attachment-element-box">
            <div class='form-group attach-element-item'>
                <label class="col-sm-1 control-label">key:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control keyIndex"/>
                </div>
                <label class="col-sm-1 control-label">value:</label>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control valIndex" placeholder="">
                    </div>
                    <button class='btn btn-danger' type='button' onclick="deleteSelf(this)"><span>删除</span></button>
                </div>
            </div>
        </div>
        <input class='btn btn-info' type="button" id="addAttachmentOpt" onclick="addAttachmentOpt()" value="+添加"/>
        <input class='btn btn-info' type="button" id="saveAttachmentOpt" onclick="saveAttachmentOpt()" value="保存"/>
    </div>

    <div class="paramsBox">
        <h4>方法参数配置</h4>
        <div class="input-dyna-add" id="param-element-box">
            <div class='form-group param-element-item'>
                <label class="col-sm-1 control-label">type:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control keyIndex">
                </div>
                <label class="col-sm-1 control-label">value:</label>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control valIndex" placeholder="">
                    </div>
                    <button class='btn btn-danger' type='button' onclick="deleteSelf(this)"><span>删除</span></button>
                </div>
            </div>
        </div>
        <input class='btn btn-info' type="button" id="addParamOpt" onclick="addParamOpt()" value="+添加"/>
        <input class='btn btn-info' type="button" id="saveParamOpt" onclick="saveParamOpt()" value="保存"/>
    </div>


    <!-- invoke method -->
    <div class="form-group">
        <div class="input-group col-xs-12">
            <button type="submit" class="btn btn-default" id="invokeMethod">调用</button>
        </div>
    </div>

    <!-- params -->
    <div class="paramBox">
        <h4>请求参数</h4>
        <textarea class="form-control" rows="3" id="rpcParams"></textarea>
    </div>

    <!-- result -->
    <div class="resultBox">
        <h4>响应结果</h4>
        <textarea class="form-control" rows="3" id="rpcResult"></textarea>
    </div>
</body>
</html>