<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- zk -->
    <div class="form-group">
        <div class="input-group col-xs-12">
            <input type="text" class="form-control" id="zkInfo" placeholder="请输入zk地址">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" id="zkAddress">配置</button>
            </span>
        </div>
    </div>
    <!-- select -->
    <div class="form-group">
    　　<div class="input-group col-xs-12">
    　      <select class="form-control" id="interfaceName" name="interfaceName" title="请选择调用的接口" data-live-search="true">
                <option disabled selected hidden>请选择调用的接口</option>
            </select>
    　　</div>
        <br/>
        <div class="input-group col-xs-12">
            <select class="form-control" id="methodName" name="methodName" title="请选择调用的方法" data-live-search="true">
                <option disabled selected hidden>请选择调用的方法</option>
            </select>
        </div>
    </div>
    <!-- params -->

    <!-- invoke method -->
    <div class="form-group">
        <div class="input-group col-xs-12">
            <button type="submit" class="btn btn-default" id="invokeMethod">调用</button>
        </div>
    </div>

    <!-- result -->

</body>

<script>

    $(document).ready(function() {
        $("#zkAddress").click(function() {
            var zkInfo = $("#zkInfo").val();
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8084/config",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({"zkUrl": zkInfo}),
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    if(data) {
                        // 请求接口列表
                        getInterface();
                    } else {
                        alert("zk配置失败");
                    }
                },
                error: function() {
                    console.log();
                }
            });
        });
        // interfaceName选中事件
        $("#interfaceName").change(function() {
            var interfacePath = $('#interfaceName').val();
            getMethods(interfacePath);
        });
        // 点击调用按钮触发
        $("#invokeMethod").click(function() {
            var interfacePath = $('#interfaceName').val();
            var methodName = $('#methodName').val();
            var param = {
                "interfacePath": interfacePath,
                "methodName": methodName
            }
            console.log("触发点击事件");
            console.log(param);
        });

    });

    function getInterface() {
        // 请求接口列表
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8084/path",
            dataType: "json",
            success: function(data) {
                console.log(data);
                for (let i = 0; i < data.length; i++) {
                    var interfaceName = data[i].interfaceName;
                    $("#interfaceName").append("<option value=' "+ interfaceName +" '>" + interfaceName + "</option>");
                }
            },
            error: function() {

            }
        });
    };

    function getMethods(catalog) {
        // 请求接口方法
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8084/method?catalog=" + catalog,
            dataType: "json",
            success: function(data) {
                console.log(data);
                for (let i = 0; i < data.length; i++) {
                    var methodName = data[i];
                    $("#methodName").append("<option value=' "+ methodName +" '>" + methodName + "</option>");
                }
            }
        });
    }



</script>

</html>