<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Access-Control-Allow-Headers" content="X-Requested-With">
    <meta http-equiv="Access-Control-Allow-Headers" content="Content-Type">
    <title>Title</title>

</head>

<body>
    <div>hello,world11111</div>
    <button id="userListId">列表请求</button>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
    $("#userListId").click(function() {
        //alert("hello,world")
        $.ajax({
            url: "http://432k4554r8.zicp.vip/feishu/updateCompany",
            dataType: "json",
            type: "get",
            data: {},
            success: function(result) {
                console.log(result)
            },
            error: function(data) {
                console.log(data)
            }
        });
    });
</script>