<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
<!--    <meta http-equiv="Access-Control-Allow-Headers" content="X-Requested-With">
    <meta http-equiv="Access-Control-Allow-Headers" content="Content-Type">-->
    <title>Title</title>

</head>

<body>
    <div>hello,world11111</div>
    <button id="userListId">列表请求</button>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
    $("#userListId").click(function() {
        //alert("hello,world")
        // $.ajax({
        //     url: "http://4302g45548.vicp.fun/test/userList",
        //     dataType: "json",
        //     type: "get",
        //     data: {},
        //     success: function(result) {

                window.location.href='https://open.feishu.cn/open-apis/authen/v1/index?app_id=cli_a1b2255ac778900d&redirect_uri=http://4302g45548.vicp.fun/test/testRedirect';
        //         console.log(result)
        //     },
        //     error: function(data) {
        //         console.log(data)
        //     }
        // });
    });
</script>