<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>首页</h1>
    <!-- 取当前登陆用户的一些信息 -->
    登录名：<span sec:authentication="name"></span>
    角色:   <span sec:authentication="principal.authorities"></span>
    用户名：<span sec:authentication="principal.username"></span>
    密码：  <span sec:authentication="principal.password"></span>

    <!-- 标签的权限控制 -->

    <span>
        已登陆<br>
        <!-- 角色ROLE_USER可以访问 -->
        <span sec:authorize="hasRole('USER')">
            <a href="#">用户管理</a>
        </span>
        <!-- 角色ROLE_ROOT可以访问 -->
        <span sec:authorize="hasRole('ROOT')">
            <a href="#">角色管理</a>
        </span>
        <!-- 角色ROLE_CREATE可以访问 -->
        <span sec:authorize="hasRole('CREATE')">
            <a href="#">订单管理</a>
        </span>
    </span>

</body>
</html>